<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Default {% endblock %} </title>
    <link rel="stylesheet" href="/static/style/contacts.css">
</head>
<body>
    <nav class="topnav">
        <div class="topnav-left">
            <a href="/">Home</a>
            <form action="/search" method="post">
                <input type="text" placeholder="Name..." id="search" name="search_name">
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="topnav-right">
            <a href="/contacts">View Contacts</a>
            <a href="/form">New</a> 
        </div>
    </nav> 
<script src="/static/js/contacts.js"></script>

    {% block content %} 
    <!--  -->
        default
    {% endblock %}
<footer>
    <p> </p>
</body>
</html>