{% extends "base.html" %}
{% block title %} Add Contact {% endblock %}

{% block content %}

<h1>Add Contact Form</h1>

{% if error %}
<p style="color:red; font-size:24px; font-weight:bold; font-family:'Courier New';">{{ error }}</p>
{% endif %}

<form action="/addContact" method="POST" enctype="multipart/form-data">
<div>
    <label for="name" id="name">Enter your name:</label><br>
    <input type="text" id="nametext" name="name" required onfocus="whenFocus()" onblur="whenBlur()">
</div>
<br>
<div>   
    <label for="email" id="email">Enter your email:</label><br>
    <input type="email" id="email" name="email">
</div>    
<br>
<div>    
    <label for="phone" id="phone">Enter your phone:</label><br>
    <input type="tel" id="phone" name="phone" required>
</div>
<br>
<div>    
    <label for="gender">Select your gender:</label><br>
    <select id="gender" name="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
    </select>
</div>
<br>
<div>
    <label for="photo">Upload your photo:</label><br>
    <input type="file" name="photo" id="photo" accept="image/*">
</div>
<br>
<div>
    <label for="agree">
        <label> Agree with terms*</label><br>
        <input type="checkbox" id="agree" name="agree" required>
    </label>
</div>
<br>
    <input id="addto" type="submit" value="Add to Contacts">
</form>

<script src="/static/js/contacts.js"></script>

{% endblock %}
